### Gradle ###
.gradle/
build/

### IDE ###
*.iml
.idea

/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

### Kotlin ###

/.kotlin/

### Android ###
local.properties
/captures
.externalNativeBuild
.cxx

### OS ###

.DS_Store

### iOS ###
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

captures


